<% if @user.photo_url %>
  <%= image_tag(@user.photo_url, alt: 'Profile Picture') %>
<% else %>
  <%= image_tag('https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y', alt: 'Profile Picture') %>
<% end %>

<a href="<%= user_path(@user) %>">
  <h2><%= @user.name %></h2>

  <small>Number of posts: <%= @user.posts_counter || 0 %></small>
</a>
