<section>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path  %>
  <% end %>

  <%= link_to 'New Post', new_user_post_path(current_user) %>

  <ul>
    <% @users.each do |user| %>
      <li>
        <%= image_tag(user.photo_url, alt: 'Profile Picture') %>

        <a href="<%= user_path(user) %>">
          <h2><%= user.name %></h2>

          <small>Number of posts: <%= user.posts_counter || 0 %></small>
        </a>
      </li>
    <% end %>
  </ul>
</section>
