<section>
  <div>
    <h3><%= @post.title %> by <%= @post.author.name %></h3>

    <small>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></small>
  </div>
  
  <p><%= @post.text %></p>

  <%= button_to "Like", user_post_likes_path(@post.author, @post) %>

  <%= link_to 'New Comment', new_user_post_comment_path(current_user, @post) %>

  <div>
    <% @comments.each do |comment| %>
      <li>
        <p><%= comment.author.name %>: <%= comment.text %></p>
      </li>
    <% end %>
  </div>
</section>
